* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4b4b4b;
    color: #fff;
}

header, footer {
    background-color: #fff;
    color: #000;
}

#main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#main-navigation ul {
    display: flex;
    gap: 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;  
    color: #000; 
}

main {
    padding-inline: 4vw;
}

h1 {
    text-align: center;
}

.car-section {
    display: flex;
    gap: 20px;
}

.car_logo {
    width: 5vw;
}

section {
    margin-top: 15px;
}

article {
    margin-top: 50px;
}

.italic {
    font-style: italic;
}

.back-to-menu a {
    margin-top: 10px;
    color: #fff;
}

.footer-menu {
    padding-bottom: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: #000;
}

table, 
thead,
tbody {
    border: 5px solid rgb(255, 255, 255);
    border-collapse: separate; /*ячейки имеют собственные, раздельные рамки */
    width: 600px;
}

table {
    margin-top: 35px;
}

#table-section {
    margin-inline: auto;
}

th,
td {
    border: 5px solid rgb(255, 255, 255);   
}

